.header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  position: absolute;
  text-align: center;
  color: aliceblue;
  max-width: 50vw;
}

.card{
  max-width: 100vw;
  max-height: 20vh;
  z-index: 2;
  /* shadow p-3 mb-5 bg-body rounded */
  /* display: flex; */
  /* flex-wrap: nowrap; */
  /* margin-top: -6vh; */
}

.card-body{
  max-width: 50vw;
}

.vl {
  border-left: 2px solid rgb(224, 224, 224);
  max-height: 15vh;
}

#mapid{
  height: 180px; 
} 